{% extends 'admin base.html' %}

{% block content %}

<section>
    <div class="container user-row">
        <div class="row ">
            <div class="table-responsive">
                <h6 class="table-title">CUSTOMER BOOKING DETAILS</h6>
                <div class="panel panel-primary">
                    <table class="table table-hover table-striped table-bordered" id="dev-table">
                        <thead class="table-h">
                        <tr>
                            <th>No</th>
                            <th>User Name</th>
                            <th>Movie</th>
                            <th>Details</th>
                        </tr>
                        </thead>
                        {% for b in booking %}
                        <tr>
                            <td> {{forloop.counter}}</td>
                            <td>{{ b.user.username }}</td>
                            <td>{{ b.showtime.movie.title }}</td>
                            <td><a href="{% url 'bookapp:booking-details' b.id %}" class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i></a>
                            <td>
                            {% empty %}
                            <td class="text-center" colspan="4">No Booking</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% for msg in messages %}
                    <div class="message text-center">
                        <h4 class="message">{{msg}}</h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

♣
{% endblock  %}







