<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movie Theme</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link href="css/font-awesome.min.css" rel="stylesheet" >
	<link href="css/global.css" rel="stylesheet">
	<link href="css/list.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>

<div class="main_o main">
 <div class="main_o1 bg_back">
   <section id="header">

</section>
   <section id="center" class="centre_o  pt-5 pb-5">
 <div class="container-xl">
  <div class="row centre_o1 text-center">
    <div class="col-md-12">
      <h1 class="text-white font_60">Movies</h1>
	  <h5 class="mb-0 mt-3 fw-normal col_oran"><a class="text-light" href="#">Home</a> <span class="mx-2 text-muted">/</span> Movies</h5>
   </div>
  </div>
 </div>
</section>
 </div>
</div>

<div class="border_dashed">

</div>

<section id="trend" class="p_3">
	<div class="container-xl">
		<div class="row trend_2">
			<div class="col-md-3 col-sm-6">
				<div class="trend_2i position-relative">
					<div class="trend_2i1">
						<img src="img/5.jpg" class="w-100" alt="abc">
					</div>
					<div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
						<h6 class="font_14 text-light">Comedy / 180 Mins </h6>
						<h5><a class="text-white a_tag" href="detail.html">The Fifth Day</a></h5>
						<h6 class="mb-0 mt-3"><a class="button_1 p-2 px-3 font_14" href="detail.html">Get Ticket</a></h6>
					</div>
				</div>
			</div>
	  </div>
   </div>

</section>

<section id="footer" class="p_3 bg-black">
 <div class="container-xl">
    <div class="footer_1 row pb-4">
	  <div class="col-md-3">
	   <div class="footer_1l">
	     <h4 class="mb-0"><a class="fw-bold text-white" href="index.html"><i class="fa fa-modx col_oran"></i> Movie Theme </a></h4>
	   </div>
	  </div>
	  <div class="col-md-9">
	   <div class="footer_1r text-end">
	     <ul class="mb-0">
		   <li class="d-inline-block"><a class="text-white-50 a_tag" href="#">Help</a></li>
		     <li class="d-inline-block text-white-50">/</li>
		   <li class="d-inline-block me-2"><a class="text-white-50 a_tag" href="#"> Privacy Policy</a></li>
		   <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-twitter"></i></a></li>
		    <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-facebook"></i></a></li>
			 <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-instagram"></i></a></li>
			  <li class="d-inline-block"><a class="social_icon" href="#"> <i class="fa fa-pinterest"></i></a></li>
		 </ul>
	   </div>
	  </div>
	</div>
	<div class="footer_2 row mt-4">
	  <div class="col-md-3">
	   <div class="footer_2i">
         <p class="text-white fw-bold fs-5">Buy movie tickets easily with Aovis system nationwide</p>
		 <h6 class="mb-0 mt-4"><a class="button" href="#">Get Your Ticket</a></h6>
	   </div>
	  </div>
	  <div class="col-md-3">
	   <div class="footer_2i">
         <h5 class="col_oran mb-4">Movies</h5>
		 <div class="row footer_1ism">
		 <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Action</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Adventure</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Animation</a></h6>
	  <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Thriller</a></h6>
	   <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Crime</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Comedy</a></h6>
	    </div>
	   </div>
	  </div>
	  <div class="col-md-3">
	   <div class="footer_2i">
         <h5 class="col_oran mb-4">Links</h5>
		 <div class="row footer_1ism">
		 <h6 class="fw-normal col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> About Us</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> My account</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> News</a></h6>
	  <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Latest Events</a></h6>
	   <h6 class="fw-normal mt-2 col-md-12 col-6"><a class="text-white-50 a_tag" href="#"> Privacy</a></h6>
	 <h6 class="fw-normal mt-2 col-md-12 col-6 mb-0"><a class="text-white-50 a_tag" href="#"> Contact Us</a></h6>
	    </div>
	   </div>
	  </div>
	  <div class="col-md-3">
	   <div class="footer_2i">
         <h5 class="col_oran mb-4">Newsletter</h5>
		 <p class="text-white-50">Subscribe to Leitmotif newsletter this very day.</p>
		 <div class="input-group bg-white">
				<input type="text" class="form-control bg-transparent rounded-0 border-0" placeholder="Enter Your Email">
				<span class="input-group-btn">
					<button class="btn btn-primary bg-transparent rounded-0 border-0 col_oran p-3" type="button">
						<i class="fa fa-location-arrow"></i></button>
				</span>
		</div>
		<div class="form-check mt-3 text-white-50">
<input class="form-check-input" type="checkbox" value="">
<label class="form-check-label" for="flexCheckDefault">
I agree to all terms and policies of the company
</label>
</div>
	   </div>
	  </div>
	</div>
 </div>
</section>

<section id="footer_b" class="pt-3 pb-3 bg-dark">
 <div class="container-xl">
  <div class="footer_b1 row text-center">
    <div class="col-md-12">
	  <p class="mb-0 text-white-50">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_oran fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	</div>
  </div>	
 </div>
</section>

<script src="js/common.js"></script>

</body>


</html>